//registry=https://npm.pkg.github.com/@grimonprezalexis

//@grimonprezalexis:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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  


//@grimonprezalexis:registry=https://npm.pkg.github.com
//registry=https://npm.pkg.github.com/@grimonprezalexis


always-auth=true
registry=https://npm.pkg.github.com/grimonprezalexis
_authToken=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
//npm.pkg.github.com:_authToken=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